
NewChess/ChessCore/bin/Debug
NewChess/ChessCore/obj/Debug

NewChess/ChessCoreEngine/bin/Debug
NewChess/ChessCoreEngine/obj/Debug

NewChess/GameBoard/bin/Debug
NewChess/GameBoard/obj/Debug

NewChess/GameInfo/bin/Debug
NewChess/GameInfo/obj/Debug


NewChess/GameMovement/bin/Debug
NewChess/GameMovement/obj/Debug


NewChess/UI/bin/Debug
NewChess/UI/obj/Debug
NewChess/UI/obj/Release